body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMb2Rh7RZSkl-uSbgKNrK7Uoctg6gZNNEO09ERs6VhGizsoYUGCu6NFDHYnCoIuCvMKAY&usqp=CAU');
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color:red;
    text-shadow: 1px-1px rgb(36, 194, 128),-1px -1px 2px blue;

}
h3{
    color:red;
    font-size:larger;

}
div{
    color:rgb(8, 2, 2)
}
ol{
    color:rgb(17, 3, 3)
}
TH{
    color: rgb(243, 23, 23);
}